<div class="container-fluid">

  <div class="row">

    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form [formGroup]="data" (ngSubmit)="doAction(data.value)">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Image</label>
                  <br>
                  <input type="file" id="img" (change)="onFileChange($event)" #fileInput class="hidden">
                  <button type="button" class="btn btn-warning" (click)="fileInput.click()">Upload</button>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <img src="{{ data.value.img }}" alt="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Description</label>
              <input formControlName="description" placeholder="Description" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Category</label>
              <select formControlName="category_id" class="form-control">
                <option value="{{ item.category_id }}" *ngFor="let item of dataCategory">{{ item.description }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Tags</label>
              <select formControlName="productTags" class="form-control" multiple>
                <option value="{{ item.tag_id }}" *ngFor="let item of dataTag">{{ item.description }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Quantity</label>
              <input formControlName="quantity" placeholder="Quantity" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Price</label>
              <input formControlName="price" placeholder="Price" type="text" class="form-control">
            </div>
            <div class="form-button">
              <button type="submit" class="btn btn-primary" [disabled]="!data.valid">{{ getAction() }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
