.public-page {
	background: linear-gradient(to right, #232526, #414345);
}

.breadcrumb {
	background-color: #fff;
	margin-top: -10px;
}

.breadcrumb li:not(.active) {
	cursor: pointer;
}

.login-content {
	margin-top: 8%;
}

.image {
	text-align: center;
}

.overflow-auto {
	overflow: auto;
}

.image .title {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}

.image img {
	width: 190px;
	height: 190px;
}

.form-auth-error p {
	color: #f53d3d;
}

a, a:hover, a:focus {
	color: #66615b;
}
